* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("../fonts/Lexend-Regular.ttf");
  font-family: LexendRegular;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lexend-Medium.ttf");
  font-family: LexendMedium;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lexend-SemiBold.ttf");
  font-family: LexendSemiBold;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/FuturaPT-Medium.ttf");
  font-family: FuturaPTMedium;
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: LexendRegular, sans-serif;
}

.hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: #110a1d;
}

.hidden.active {
  display: block;
  z-index: 1;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #110A1D;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 16px;
}

.container {
  margin: 0 auto;
}

.btn {
  background-color: #478BF9;
  color: #ffffff;
  font-family: LexendSemiBold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
}

/* HEADER STYLES START */


.header__container {
  max-width: 1640px;
  padding: 20px 44px;
  border: 4px solid #478BF9;
  border-radius: 64px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

}
.nav__items {
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 32px;
  font-size: 16px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: transparent;
}

.nav__item a:hover {
  color: #478BF9;
  border-bottom-color: #478BF9;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 191px;
}

.auth {
  display: flex;
}

.action__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #9DADF2;
  border-radius: 24px;
  padding: 14px;
  margin-right: 14px;
  cursor: pointer;
}

.action__item:last-child {
  margin-right: 0;
}

.action__lang span {
  margin-left: 8px;
  text-transform: uppercase;
}

.action__item.active,
.action__item:hover {
  background: #9DADF2;
}

.action__item:hover svg path {
  fill: #110A1D;
}

.burger-menu {
  display: none;
}
/* HEADER STYLES END */


/* MAIN STYLES START */


.main__container {
  max-width: 1640px;
  height: 1030px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.main__info {
  margin-top: 296px;
  margin-bottom: 365px;
  max-width: 669px;
}

.main__info_title {
  font-family: LexendMedium, sans-serif;
  font-size: 96px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 24px;
  line-height: 96px;
}

.main__info_title span {
  color: #478BF9;
}

.main__info_text {
  font-family: LexendMedium, sans-serif;
  font-size: 32px;
  color: rgba(255, 255, 255, .6);
  margin-bottom: 48px;
}

.main__button {
  padding: 20px;
  border-radius: 48px;
  width: 393px;
  font-size: 24px;
}

.main__button:hover {
  background: #1E1231;
  box-shadow: 0 0 6px 0 rgb(230 230 230 / 70%);
}

.banner {
  display: flex;
  margin: 0 64px 0 42px;
  position: relative;
  top: -30px;
  height: 110%;
}

.banner::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #111 0%, transparent 100%);
  z-index: 1;
}

.banner::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background: linear-gradient(to top, #111 50%, transparent 100%);
}

.banner ul li svg {
  width: 100%;
}


.banner__left {
  position: relative;
  top: 20px;
  animation: goDownBL 10s linear infinite;
}

@keyframes goDownBL {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-85%);
  }
}

.banner__right {
  position: relative;
  top: 40px;
  animation: goDownBR 14s linear infinite;
}

@keyframes goDownBR {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.banner__center {
  position: relative;
  animation: goUp 18s linear infinite;
}

@keyframes goUp {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 28px 0;
  opacity: 60%;
}

.banner__center {
  margin: 0 15px;
}

.blog {
  margin-top: 140px;
}

.blog__title {
  text-align: center;
  font-family: LexendSemiBold, sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}

.blog__place {
  display: flex;
  max-width: 530px;
  height: 595px;
  border: 3px solid #478BF9;
  border-radius: 100px;
  padding: 0 16px 0 24px;
  overflow-y: hidden;
  background: linear-gradient(150deg, rgba(120, 120, 120, .20), rgba(255, 255, 255, .12));
}

.blog__item_area {
  padding-top: 24px;
}

.blog__items {
  position: relative;
}

.scrollTrack {
  width: 8px;
  height: 400px;
  background: #54546C;
  position: relative;
  top: 96px;
  border-radius: 4px;
}

.scrollThumb {
  background: #478BF9;
  height: 100px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.blog__items {
  list-style: none;
}

.blog__item {
  padding: 16px 64px;
  margin-bottom: 16px;
  background: #1E1231;
  border-radius: 196px;
  cursor: pointer;
  margin-right: 16px;
}

.blog__item:hover {
  background: #478BF9;
}

.blog__item_text {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
}

.blog__item_date {
  font-family: FuturaPTMedium, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, .6);
}

/* MAIN STYLES END */

/* FOOTER STYLES START */


.footer__container {
  max-width: 1940px;
  padding: 40px 140px 24px;
  border: 4px solid #478BF9;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer .nav .nav__item {
  margin-right: 40px;
}

.social__header {
  font-size: 16px;
  margin-bottom: 14px;
  color: #ffffff;
  text-align: right;
}

.social__items a {
  display: inline-block;
  text-decoration: none;
  margin-left: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social__items a svg {
  width: 100%;
  height: 100%;
}

.social__items a:hover svg path:first-child {
  fill: #478BF9;
}

.social__items a:hover svg path:nth-child(2) {
  fill: #ffffff;
}

.social__items a:hover {
  background: #ffffff;
}

/* FOOTER STYLES END */